*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    background-color: #171A21;
}

h1, h2, h3, h4, h5, p {
    color: #ffffff;
}

img{
    max-width: 100%;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Mulish', sans-serif;
}

/*Nav Bar*/
.navbar {
    font-family: 'Noto Sans', Arials, sans-serif;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-evenly;
}

/*Hero Image*/
.hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    font-family: 'Noto Sans', Arials, sans-serif;
}

.hero-text h1{
    margin-top: 8px;
    text-align: center;
}

.hero-text h2{
    padding: 4px;
    margin-top: 3px;
    font-size: 16px;
    text-align: center;
}

.headshot{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/*Contact Me*/
.links {
    width: 50vw;
    display: flex;
    padding-top: 16px;
    align-items: center;
    justify-content: space-between;
    /*justify-content: space-evenly; FOR DESKTOP*/
}

.contact-image-space {
    color: white;
}

/*About Me*/
.about-me{
    height: 45%;
    margin: 0 16px;
    font-family: 'Noto Sans', Arials, sans-serif;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-flow: column nowrap;
}

.about_header{
    padding: 14px 0;
    text-align: left;
}

.about_para {
    font-size: 17px;
}

/*Projects*/
.project-container{
    margin: 0 16px;
    font-family: 'Noto Sans', Arials, sans-serif;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-flow: column nowrap;
    gap: 20px;
}

.two{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-flow: column nowrap;
}

.project-header {
    margin-top: 10%;
    margin-bottom: 14px;
}

.project-container h1{
    /*margin-top: 20%;*/
    /*padding: 14px 0;*/
    /*margin-top: 30%;*/
    /*margin-left: 16px;*/
    text-align: left;
}

.project-container h2{
    color: white;
    padding: 14px 0;
    margin-left: 13px;
    text-align: left;
}


.project-container p{
    /*padding-bottom: 14px;*/
    margin-bottom: 14px;
    margin-left: 14px;
    margin-right: 13px;
    font-size: 16px;
    /*margin-right: 5px;*/

    width: auto;
}

.project {
    border: 3px solid #50514F;
    border-radius: 5px;
}
/* FOR DESKTOP */
/*.project:hover {*/
/*    background-color: green;*/
/*    transition: 2s linear;*/
/*    */
/*}*/

.project-image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 10px;
}

.project-image-text img {
    width: 90%;
}

.two img {
    width: 70%;
}

.project-container img {
    padding: 0 20px 0 20px;
}

/* back to top */

.footer {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBtn {
    background-color: #171A21;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Noto Sans', Arials, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 280px) {
    .headshot{
        width: 200px;
        height: 200px;
    }

    .project-header {
        margin-top: 35%;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 768px) {
    /*Hero Image*/
    .headshot{
        width: 300px;
        height: 300px;
    }
    .navbar {
        font-size: 25px;
    }

    .hero-text h1{
        font-size: 50px;
    }

    .hero-text h2{
        font-size: 25px;
    }

    /*Contact Me*/
    .links {
        justify-content: space-evenly;
        font-size: 25px;
    }
    /*About Me*/
    .about-me h1{
        font-size: 40px;
    }

    .about_header{
        padding: 14px 0;
        text-align: left;
    }

    .about_para {
        font-size: 25px;
    }

    /*Projects*/
    .project-container h1{
        margin-top: 0%;
        font-size: 40px;
    }

    .project-container h2 {
        margin-left: 20px;
        font-size: 30px;
    }

    .project-image-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row-reverse nowrap;
    }

    .project-image-text p {
        font-size: 16px;
    }

    .project-image-text img {
        width: 60%;
    }

    .two img {
        width: 30%;
    }
}

@media screen and (min-width: 912px) {
    /*Hero Image*/
    .headshot{
        width: 375px;
        height: 375px;
    }
    .navbar {
        font-size: 30px;
    }

    .hero-text h1{
        font-size: 60px;
    }

    .hero-text h2{
        font-size: 30px;
    }

    /*Contact Me*/
    .links {
        justify-content: space-evenly;
        font-size: 30px;
    }
    /*About Me*/
    .about-me {

    }

    .about-me h1{
        font-size: 50px;
    }

    .about_header{
        padding: 14px 0;
        text-align: left;
    }

    .about_para {
        font-size: 30px;
    }

    /*Projects*/
    .project-container h1{
        margin-top: 0%;
        font-size: 50px;
    }

    .project-container h2 {
        margin-left: 20px;
        font-size: 40px;
    }

    .project-image-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row-reverse nowrap;
    }

    .project-image-text p {
        font-size: 25px;
    }

    .project-image-text img {
        width: 55%;
    }

    .two img {
        width: 30%;
    }

    #myBtn {
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    /*Hero Image*/
    .headshot{
        width: 300px;
        height: 300px;
    }
    .navbar {
        font-size: 25px;
    }

    .hero-text h1{
        font-size: 40px;
    }

    .hero-text h2{
        font-size: 25px;
    }

    /*Contact Me*/
    .links {
        width: 30vw;
        justify-content: space-evenly;
        font-size: 20px;
    }
    /*About Me*/
    .about-me {
        margin-top: 39px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .about-me h1{
        font-size: 40px;
    }

    .about_header{
        padding: 14px 0;
        text-align: left;
    }

    .about_para {
        font-size: 30px;
    }

    /*Projects*/
    .project-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .project-container h1{
        margin-top: 10%;
        font-size: 40px;
    }

    .project-container h2 {
        margin-left: 20px;
        font-size: 40px;
    }

    .project-image-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row-reverse nowrap;
    }

    .project-image-text p {
        font-size: 25px;
    }

    .project-image-text img {
        width: 55%;
    }

    .two img {
        width: 30%;
    }

    #myBtn {
        font-size: 30px;
    }
}

@media screen and (min-width: 1440px) {
    /*About Me*/
    .about-me {
        margin-top: 39px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .about_para {
        font-size: 25px;
    }
    /*Projects*/
    .project-container {
        margin-left: 20%;
        margin-right: 20%;
    }

    .project-container h1{
        margin-top: 10%;
        font-size: 40px;
    }

    .project-container h2 {
        margin-left: 20px;
        font-size: 30px;
    }

    .project-image-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row-reverse nowrap;
    }

    .project-image-text p {
        font-size: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .project-image-text img {
        width: 30%;
    }

     /*FOR DESKTOP */
    .project:hover {
        background-color: #133C55;
        transition: 1s ease-in-out;
    }

    #myBtn {
        font-size: 25px;
    }

}

